section.chamadaProd{
  width: 100%;
  height: 150px;
  background: url(../../public/bg-pages.png) no-repeat;
  background-position: center;
  margin-top: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}

.container h2{
  font-size: 2rem;
  font-weight: normal;
  color: black;
}