section.banner{
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: -1px;
  position: relative;
  background: url('../../public/bgBanner.png') no-repeat;
  background-position: center;
}

section.banner .chamadaBanner{
  text-align: center;
  padding: 0 2%;
  width: 400px;
}

section.banner .chamadaBanner h2{
  color: white;
  font-weight: normal;
  font-size: 2rem;
}

section.banner .chamadaBanner h2 > span:nth-of-type(1){
  color: #FFB1A3;
}

section.banner .chamadaBanner h2 > span:nth-of-type(2){
  color: #50CDC2;
}

section.banner .chamadaBanner .buttonChamada{
  width: 320px;
  height: 54px;
  line-height: 54px;
  font-size: 20px;
  color: white;
  border: 0;
  background: linear-gradient(87.67deg, #FFB1A3 13.23%, #A2C0B3 67.3%, #50CDC2 88.99%);
  box-shadow: 0px 0px 30px rgba(80, 205, 194, 0.75);
  border-radius: 5px;
  margin-top: 42px;
  cursor: pointer;
  transition: .9s;
}

section.banner .chamadaBanner .buttonChamada:hover{
  filter: brightness(75%);
  background: linear-gradient(87.67deg, #50CDC2 13.23%, #A2C0B3 39.32%, #FFB1A3 88.99%);
}