@font-face{
  font-family: 'GoodVibrationsScript';
  src: url('../../public/fonts/GoodVibrations/GoodVibrations.ttf');
  font-style: normal;
  font-weight: normal;
}

.footer{
  padding: 60px 2%;
  margin-top: -50px;
  width: 100%;
  height: 227px;
  position: relative;
  overflow: hidden;
}

.footer > img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.footerWrapper{
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerContentLeft,
.footerContentCenter,
.footerContentRight{
  width: 33.3%;
  z-index: 0;
}

.footerContentLeft{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footerContentLeft p{
  text-align: left;
  font-size: 1rem;
  margin-bottom: 15px;
}

.footerContentLeft p:nth-of-type(2){
  margin-bottom: 0;
  height: 2rem;
  line-height: 2rem;
}

.footerContentCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContentCenter h2{
  font-family: 'GoodVibrationsScript';
  font-size: 2.5rem;
  font-weight: normal;
}

.footerContentRight{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footerContentRight p{
  text-align: right;
  font-size: 1rem;
  margin-bottom: 15px;
}

.footerContentRight p:nth-of-type(2){
  margin-bottom: 0;
  width: 166px;
  height: 2rem;
  line-height: 2rem;
  display: flex;
  cursor: pointer;
}

.footerContentRight img{
  width: 2rem;
  height: 2rem;
  margin-right: 15px;
}

@media screen and (max-width: 1024px){
  .footerWrapper{
    justify-content: space-around;
  }

  .footerContentCenter h2{
    left: 57%;
  }
}

@media screen and (max-width: 768px){
  .footer{
    background-position: center;
  }

  .footerWrapper{
    width: 100%;
    margin-top: -10px;
    flex-direction: column;
    justify-content: space-around;
  }

  .footerContentLeft{
    width: 100%;
    align-items: center;
  }

  .footerContentLeft p{
    margin-bottom: 5px;
    text-align: center;
  }

  .footerContentCenter{
    width: 100%;
    align-items: center;
  }

  .footerContentRight{
    width: 100%;
    align-items: center;
  }

  .footerContentRight p{
    text-align: center;
    margin-bottom: 0;
  }

  .footerContentRight img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 5px;
    margin-top: 3px;
  }

  .footerContentCenter h2{
    left: 50%;
  }
}